/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #202020; /* Dark background */
    color: #C0C0C0; /* Light text */
    font-family: 'Roboto', sans-serif; /* Change to your preferred font */
    line-height: 2.7;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* White headings */
}



a {
    color: #4A86E8; /* Blue links */
}

a:hover {
    color: #FFA500; /* Orange on hover */
}

/* You can add more custom styles as needed */


h1 {
    margin-top: 50px; /* Most margin for the page title */
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px; /* Significant margin for main sections */
    margin-bottom: 15px;
    font-size: 1.5em; /* Larger font size for main sections */
}

h3 {
    margin-top: 23px; /* Moderately less margin for subsections */
    margin-bottom: 0px;
    font-size: 1.1em; /* Slightly larger font size for subsections */
}

h4 {
    margin-top: 15px; /* Smaller margin for sub-subsections */
    margin-bottom: 12px;
    font-size: 1.1em;
}

h5 {
    margin-top: 12px; /* Even smaller margin for h5 */
    margin-bottom: 10px;
}

h6 {
    margin-top: 10px; /* Least margin for h6 */
    margin-bottom: 8px;
}
